html
  head
    title!= title
    link(href='/css/main.css', rel='stylesheet')
    link(href='/css/manage.css', rel='stylesheet')
    script(src='/socket.io/socket.io.js')
    script(src='/js/jquery.min.js')
    script(src='/js/main.js')

  body
    block content
