extends ./base.jade

block content
    div.wrapper-board
        div.content-question
            span.question  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore praesentium quisquam est sunt ullam natus, incidunt veniam consequuntur eveniet! Ipsum tenetur veniam aut quae facere doloremque quo incidunt commodi, quibusdam?


