extends ./base.jade

block content
    div.wrapper
        ul#qts
        div#live-question
            div.inner
                span.remove-live &times;
                h2 ONAIR QUESTION
                p


