extends ./base.jade

block content
    div.wrapper
        div.actions
            button(id='btn-info').
                Info

            button(id='btn-any-questions').
                Any questions?

            button(id='any-other-questions').
                Any other questions?

        ul#qts
        div#live-question
            div.inner
                span.remove-live &times;
                h2 ONAIR QUESTION
                p


