extends ./base.jade

block content
    div.wrapper
        div.actions
            button(id='btn-info', data-text='Download Telegram! Search the nick @AskTheBot and press Start!').
                Info

            button(id='btn-any-questions', data-text='Any questions?').
                Any questions?

            button(id='any-other-questions', data-text='Any other questions?').
                Any other questions?

        ul#qts
        div#live-question
            div.inner
                span.remove-live &times;
                h2 ONAIR QUESTION
                p


