extends ./base.jade

block content
    div.wrapper
        h1.header!= message
        ul#qts
            li.sent
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quae perspiciatis temporibus consequuntur nesciunt ad maiores corrupti mollitia facilis, quos, aut exercitationem, et non veritatis saepe nulla minus deleniti. Veniam.
                div.controls
                    span.live Put live
                    span.remove Reject
            li.live
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quae perspiciatis temporibus consequuntur nesciunt ad maiores corrupti mollitia facilis, quos, aut exercitationem, et non veritatis saepe nulla minus deleniti. Veniam.
                div.controls
                    span.live Put live
                    span.remove Reject
            li
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quae perspiciatis temporibus consequuntur nesciunt ad maiores corrupti mollitia facilis, quos, aut exercitationem, et non veritatis saepe nulla minus deleniti. Veniam.
                div.controls
                    span.live Put live
                    span.remove Reject
            li
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quae perspiciatis temporibus consequuntur nesciunt ad maiores corrupti mollitia facilis, quos, aut exercitationem, et non veritatis saepe nulla minus deleniti. Veniam.
                div.controls
                    span.live Put live
                    span.remove Reject
            li
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quae perspiciatis temporibus consequuntur nesciunt ad maiores corrupti mollitia facilis, quos, aut exercitationem, et non veritatis saepe nulla minus deleniti. Veniam.
                div.controls
                    span.live Put live
                    span.remove Reject
            li
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quae perspiciatis temporibus consequuntur nesciunt ad maiores corrupti mollitia facilis, quos, aut exercitationem, et non veritatis saepe nulla minus deleniti. Veniam.
                div.controls
                    span.live Put live
                    span.remove Reject
        div#live-question
            div.inner
                span.remove-live &times;
                h2 ONAIR QUESTION
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minima officiis architecto nulla ea fuga ad odio optio doloribus voluptate!


