extends ./base.jade

block content
    div.wrapper
        h1.header!= message
        ul#qts
            li(data-id='123')
                p Question 1
                div.controls
                    span.live Put live
                    span.remove Reject
            li(data-id='1234')
                p Question 2
                div.controls
                    span.live Put live
                    span.remove Reject
            li(data-id='1234')
                p Question 3
                div.controls
                    span.live Put live
                    span.remove Reject
            li(data-id='1234')
                p Question 4
                div.controls
                    span.live Put live
                    span.remove Reject
            li(data-id='1234')
                p Question 5
                div.controls
                    span.live Put live
                    span.remove Reject
            li(data-id='1234')
                p Question 6
                div.controls
                    span.live Put live
                    span.remove Reject
        div#live-question
            div.inner
                span.remove-live &times;
                h2 ONAIR QUESTION
                p


