body {
    padding: 20px;
    font-family: helvetica;
}


.wrapper-board{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #262626;
    background-image: url(../images/logo-white.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 150% 20%;
    display: table;
}

.content-question{
    display: table-cell;
    vertical-align: middle;
    padding: 0 15%;
    text-align: center;
}

.wrapper-board .question{
    font-size: 40px;
    line-height: 1.5;
    color: #fff;
    font-weight: 300;
    opacity: 0;
    transition: opacity 2s ease-in;
}

.wrapper-board .question.active{
    opacity: 1;
}